page-info-modificacoes {
    ion-header {
      ion-toolbar {
        --background: #1e2023;
      }
      ion-title {
        color: #fff;
      }
    }
  
    ion-content {
      --ion-background-color: #f8f9fa;
    }
  
    .info-card {
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    ion-card-content {
      text-align: justify;
    }
  
    ion-grid {
      ion-row {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      ion-col {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }
  