<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Peças</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Catback</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="assets/imagens/catback.png"></ion-img>
            <p>Catback são as peças do escapamento que ficam localizadas após o catalisador. Inclui o tubo de escape, abafadores e outras peças. <br> Geralmente instalado para melhorar o fluxo dos gases no escapamento do veículo e produzir um som mais esportivo.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Downpipe</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="assets/imagens/downpipe.png"></ion-img>
            <p>O downpipe nada mais é do que a primeira seção do escapamento que possui o catalizador, após a caixa quente da turbina. <br>A preparação consiste em retirar o catalizador dessa seção inicial do escapamento, deixando a circulação de gases livre naquele ponto.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Intake</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="assets/imagens/intake.png"></ion-img>
            <p>Os sistemas de intake trazem o ar de fora do veículo para o coletor de admissão do motor ou para a turbina.
</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Filtro Inbox</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="assets/imagens/filtro-inbox.png"></ion-img>
            <p>O filtro de ar InBox (dentro da caixa) é desenvolvido para oferecer menor restrição de ar, através do uso de materiais de filtragem de alta performance, sem alterar o sistema de indução de ar original do carro.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Inlet</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="assets/imagens/inlet.png"></ion-img>
            <p>O inlet pipe é responsável por transportar o ar do filtro de ar até o turbo, onde será comprimido antes de entrar no motor. </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Intercooler</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="assets/imagens/intercooler.png"></ion-img>
            <p>O Intercooler tem como função arrefecer o ar comprimido pelo turbo ou supercompressor.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Turbina</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="assets/imagens/turbina.png"></ion-img>
            <p>Em situações que o dono deseja aumentar de forma mais agressiva a potencia do carro, uma das soluções é a troca de turbina. <br> Normalmente nos carros turbos de hoje em dia, a turbina tem um tamanho relativamente pequeno, então um recurso que as preparadoras utilizam é a instalar uma turbina maior.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
