<!-- No arquivo preparadora.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre a Preparadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Armada Performance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Este projeto foi inspirado no site de uma preparadora real.</p>
      <p>Acesse a página oficial: <a href="https://armadaperformance.com.br" target="_blank">Armada Performance</a></p>
      <ion-img src="assets/imagens/modificacoes.png"></ion-img>

    </ion-card-content>
  </ion-card>
</ion-content>
