.mod-content ul {
    list-style-type: none; /* Remove as bolinhas */
    padding: 0;
    margin: 0;
  }
  
  .mod-content ul li {
    margin-bottom: 10px; /* Espaçamento entre cada modificação */
    font-weight: bold; /* Destaque extra nas letras */
  }
  