<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="sobre-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Detalhes do Projeto</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>
              <p>Bem-vindo ao nosso aplicativo! Este projeto é parte do meu trabalho de conclusão de curso, onde explorei o tema de carros, um hobby que eu adoro.</p>
              <p>O objetivo deste aplicativo é fornecer informações sobre diferentes modelos de carros, inspirados em dados obtidos do site da Armada.</p>
              <p>Explore os diferentes modelos de carros disponíveis e descubra mais sobre suas características e especificações.</p>
              <p> <img src="assets/imagens/logo.png" alt="Logo do aplicativo" class="logo"></p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
